{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>contact</title>
	<link rel="stylesheet" type="text/css" href="static/css/astyle.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a href="{% url 'home' %}">Mahin</a>
	  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<div class="navbar-nav">
		</div>
	</div>
 		 <a class="nav-item nav-link active" href="{% url 'home' %}	">Home <span class="sr-only">(current)</span></a>   
	    <a class="nav-item nav-link" href="{% url 'about' %} ">Contact</a>
	</nav>
 <div class="container">
	    	<div class="row">
	    		<div class="col-md-10">
	    			<div class="card card-body h-100 border-info">
	    				<h4>~Contact Information~</h4>
	    				<h5>Facebook link:-</h5>
	    				<p>https://www.facebook.com/m8838</p>
	    				<h5>Linkdin link:-</h5>
	    				<p>https://www.linkedin.com/in/mehedi-hasan-mahin-75a09b190/</p>
	    				<h5>Google Account:-</h5>
	    				<p>mehedi.hasan.34902@gmail.com</p>
	    				<h5>Instragram Link:-</h5>
	    				<p>https://www.instagram.com/mahinpk/</p>
	    			</div>
	    		</div>
	    	</div>
	    </div>
</body>
</html>